<!DOCTYPE html>
<html>
<head>
  <title>Kitcher</title>
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Vesper+Libre" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <a href="/" id="logo">
      <h1>Kitcher</h1>
    </a>
    <nav>
      <ul>
        <li><a href="/">Quick Check</a></li>
        <li><a href="/full_list">Full Details</a></li>
        <li><a href="/items">Items</a></li>
      </ul>
    </nav>

  </header>

  <%= yield %>

  <br>
  <br>
  <div class="kitchen">
  </div> 
</body>
</html>