<h3>Edit Category - <%= @category.name %></h3>

<div class="kitchen">

<form action="/categories/<%= @category.id %>" method="post">

<label>Name:</label>
<input type="text" name="name" value="<%= @category.name %>">

<input type="submit" value="Update Category">


</form>
</div>